<section>
    <form class="new-pet-form">
        <label for="name">What is your pet's name?</label>
        <input type="text" name="name" />
        <label for="species">What is your pet's species?</label>
        <input type="text" name="species" />
        <label for="breed">What breed is your pet?</label>
        <input type="text" name="breed" />
        <label for="sex">Is your pet male or female?</label>
        <input type="text" name="sex" />
        <label for="birthday">What is your pet's birthday?</label>
        <input type="number" name="birthday" />
        <label for="medical_history">Does your pet have any major medical history?</label>
        <input type="text" name="medical_history" />
        <label for="medications">Is your pet on any medications? What are they and when are they given?</label>
        <input type="text" name="medications" />
        <label for="personality">Are there any traits or quirks we should know about your pet?</label>
        <input type="text" name="personality" />
        <label for="caution">Is your pet aggressive towards people or other animals?</label>
        <select name="caution">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <label for="vet">Who is your pet's veterinarian?</label>
        <input type="text" name="vet" />
        <label for="other">Anything else we should know about your pet?</label>
        <input type="text" name="other" />
        <button type="submit">Submit</button>
    </form>
</section>