<form class="login-form">
  <div class="field">
    <label for="email-login" class="label">📧email:</label>
    <div class="control">
      <input type="text" id="email-login" />
    </div>
  </div>
  <div>
    <div class="field">
      <label for="password-login" class="label">🔒password:</label>
      <div class="control">
        <input type="password" id="password-login" />
      </div>
    </div>
    <div class="login-page-buttons">
      <button type="submit" class="button-33">login</button>
      <a href="/sign-up" class="button-34">Sign Up</a>
    </div>

</form>



<script src="/javascript/login.js"></script>