<div class="about-app">
  <h2>What we're about:</h2>
  <p>

    We are a group of web developers dedicated to pets and their care.
    We decided to make our app for easier and safer pet care when owners need options for boarding their pets
    while away.
    This app will allow you to make a user profile, list your pets on it, traits and needs unique to your pet,
    and your pets usual veterinarian office.
    Go ahead and sign-in and lets get started, or make a user profile by signing-up if you haven’t already!
  </p>
</div>
<form class="login-form">
  <div class="field">
    <label for="email-login" class="label">📧email:</label>
    <div class="control">
      <input type="text" id="email-login" />
    </div>
  </div>
  <div>
    <div class="field">
      <label for="password-login" class="label">🔒password:</label>
      <div class="control">
        <input type="password" id="password-login" />
      </div>
    </div>
    <div class="login-page-buttons">
      <button type="submit" class="button-33">login</button>
      <a href="/sign-up" class="button-34">Sign Up</a>
    </div>

</form>




<script src="/javascript/login.js"></script>