<form class="sign-up-form">
  <div>
    <label for="name-signup">name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="phone-signup">phone:</label>
    <input type="text" id="phone-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/sign-up.js"></script>