* {
    margin: 0 0 0 15px;
}
header {
    margin: 20px 0 20px 0;
}
form {
    display: inline-grid;
    font-size: larger;
}
label {
    margin: 5px;
}
button {
    margin: 5px;
}
a {
    text-decoration: none;
    color: black;
}